<?xml version="1.0" encoding="utf-8"?>
<brAWebServerConfig>
    <maintence>no</maintence>
    <PdoServerConnection user="" pass="" connectionString="sqlite:brAWebService.db"/>
    <PdoRagnaConnection user="ragnarok" pass="ragnarok" connectionString="mysql:host=localhost;dbname=ragnarok;"/>
    <maxGroupId>10</maxGroupId>
    <accountValidation type="regex">
        <username>^([a-z0-9]{4,24})$</username>
        <userpass>^([a-f0-9]{32})$</userpass>
        <sex>^(M|F)$</sex>
        <email>^([^@]+)@([^\.]+)\..+$</email>
    </accountValidation>
    <openSslSettings>
        <password>e6023aa5a41f3d9f0b63a9558fc8fc19</password>
    </openSslSettings>
</brAWebServerConfig>
