<?xml version="1.0" encoding="utf-8"?>
<brAWebServerConfig>
    <PdoServerConnection user="" pass="" connectionString="sqlite:brAWebService.db"/>
    <PdoRagnaConnection user="root" pass="root" connectionString="mysql:host=localhost;dbname=test;"/>
    <createAccountValidation type="regex">
        <username>^([a-z0-9]{4,24})$</username>
        <userpass>^([a-f0-9]{32})$</userpass>
        <sex>^(M|F)$</sex>
        <email>^([^@]+)@([^\.]+)\..+$</email>
    </createAccountValidation>
</brAWebServerConfig>
