<?xml version="1.0" encoding="utf-8"?>
<brAWebServerConfig>
    <maintence>no</maintence>
    <PdoServerConnection user="" pass="" connectionString="sqlite:brAWebService.db"/>
    <PdoRagnaConnection user="ragnarok" pass="ragnarok" connectionString="mysql:host=localhost;dbname=ragnarok;"/>
    <createAccountValidation type="regex">
        <username>^([a-z0-9]{4,24})$</username>
        <userpass>^([a-f0-9]{32})$</userpass>
        <sex>^(M|F)$</sex>
        <email>^([^@]+)@([^\.]+)\..+$</email>
    </createAccountValidation>
    <openSslSettings>
        <method>aes256</method>
        <password>braWebservice0000000000000000000</password>
        <iv>braWebservice000</iv>
    </openSslSettings>
</brAWebServerConfig>
